;; shadow-cljs configuration
{:source-paths
 ["src/fe" "test/fe" "src"]

 :dependencies
 [[applied-science/js-interop "0.3.3"]  ;; Misc JS interop fns
  [aysylu/loom "1.0.2"]                 ;; Graphy libraries
  [clj-statecharts "0.1.7"]             ;; Statecharts lib
  [cljs-ajax "0.8.4"]                   ;; HTTP client
  [com.fulcrologic/statecharts "1.1.0"] ;; Statechart libs
  [metosin/reitit "0.6.0"]              ;; Routing
  [metosin/reitit-frontend "0.6.0"]     ;; Routing bits for cljs
  [org.clojure/test.check "1.1.1"]      ;; Quickcheck
  [reagent/reagent "1.2.0"]             ;; React interop
  [re-frame "1.3.0"]                    ;; Being all weird about events
  [tick/tick "0.6.0"]                   ;; Time lib
  ]

 :builds
 {:frontend
  {:target     :browser
   :output-dir "resources/public/cljs"
   :asset-path "resources/public/cljs"
   :modules    {:main {:init-fn mtfe.core/init!}}}
  :test
  {:target    :browser-test
   :test-dir  "build/test"
   :ns-regexp "-tests?$"
   :autorun   true}}
 :dev-http { 3001 "build/test" }
}
